
<div class="top-bar">
  <div class="top-bar-switcher js-top-bar-switcher" title="Свернуть"></div>
  <div class="top-bar-item fixed"><a class="top-bar-link icon icon-user" href="https://cabinet.kvado.ru/login">Личный кабинет</a></div>
  <div class="top-bar-slider-container">
    <div class="top-bar-slider">
      <div class="top-bar-slider-source">
        <div class="top-bar-item">Температура воздуха:&nbsp;<b class="top-bar-value positive">-4,4 °С</b>
        </div>
        <div class="top-bar-item">Температура воды в пруду:&nbsp;<b class="top-bar-value positive">0,0 °С</b>
        </div>
        <div class="top-bar-item">Давление:&nbsp;<b class="top-bar-value negative">718 мм.рт.ст.</b>
        </div>
        <div class="top-bar-item">Валюты:&nbsp;<b class="top-bar-value currency-positive">USD 56,50</b>&nbsp;<b class="top-bar-value currency-positive">EUR 69,73</b>
        </div>
        <div class="top-bar-item"><a class="top-bar-link icon icon-news" href="obraztsovo_dom_260m.pdf" target="_blank">Планировка дома 260 м.кв. в Образцово</a>
        </div>
        <div class="top-bar-item"><a class="top-bar-link icon icon-news" href="obraztsovo_taun_cokol.pdf" target="_blank">Планировка таунхауса с цоколем</a>
        </div>
        <div class="top-bar-item"><a class="top-bar-link icon icon-news" href="obraztsovo_taun_mansarda.pdf" target="_blank">Планировка таунхауса с мансардой</a>
        </div>
        <div class="top-bar-item"><a class="top-bar-link icon icon-news" href="obraztsovo_dupleks.pdf" target="_blank">Планировка дуплекса в Образцово</a>
        </div>
        <div class="top-bar-item"><a class="top-bar-link icon icon-news" href="obraztsovo_rules.pdf" target="_blank">Внутренние правила для жителей поселка Образцово</a>
        </div>
        <div class="top-bar-item"><a class="top-bar-link icon icon-news" href="obraztsovo_guard_rules.pdf" target="_blank">Обязанности сотрудников поста охраны КПП Образцово</a>
        </div>
        <div class="top-bar-item"><a class="top-bar-link icon icon-news" href="obraztsovo_develop_rules.pdf" target="_blank">Общие правила проведения ремонтных работ и допуска работников на территорию Образцово</a>
        </div>
        <div class="top-bar-item"><a class="top-bar-link icon icon-news" href="http://www.meteorit.ru/news/lichnyy_kabinet_zhitelya_100__prozrachnost___onlayn_podacha_zayavok/" target="_blank">Личный кабинет жителя, онлайн подача заявок</a>
        </div>
        <div class="top-bar-item"><a class="top-bar-link icon icon-news" href="http://www.meteorit.ru/news/obraztsovo__start_stroitel_stva_tret_ey_ocheredi/" target="_blank">Старт строительства третьей очереди</a>
        </div>
        <div class="top-bar-item"><a class="top-bar-link icon icon-news" href="http://www.meteorit.ru/news/taunhausy__samyy_vostrebovannyy_tip_nedvizhimosti_v_2016_godu/" target="_blank">'Таунхаусы - самый востребованный тип недвижимости в 2016 году' - Климанов А.В., СК 'Метеорит'</a>
        </div>
        <div class="top-bar-item"><a class="top-bar-link icon icon-news" href="http://www.meteorit.ru/news/novye_uchastki_pod_izhs_v_ekaterinburge/" target="_blank">Новые участки под ИЖС в Екатеринбурге</a>
        </div>
        <div class="top-bar-item"><a class="top-bar-link icon icon-news" href="http://klimanov.info" target="_blank">Информация о директоре СК 'Метеорит' - Климанов А.В. (Миссия, Биография, Интересы)</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="toolbar">
  <div class="top-bar-switcher js-top-bar-switcher" title="Развернуть"></div>
  <div class="wrapper"><a href="/" title="На главную страницу"><img class="logo" src="img/logo_full.svg" alt=""/><img class="logo short" src="img/logo_short.svg" alt=""/></a>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="index.html#location">О поселке</a></li>
        <li class="nav-item"><a class="nav-link" href="master_plan.html">Генплан</a></li>
        <li class="nav-item"><a class="nav-link" href="gallery.html">Фото</a></li>
        <li class="nav-item"><a class="nav-link" href="video.html">Видео</a></li>
        <li class="nav-item"><a class="nav-link" href="on_sale.html">В продаже</a></li>
      </ul>
    </nav>
    <div class="phone"><a class="phone-link" href="tel:+73432710071">+7 (343) 271-00-71</a><a class="application-link" href="Anketa_na_dom_Obraztsovo.pdf" target="_blank" title="Скачать анкету">Скачать анкету</a></div>
  </div>
</div>