
<section class="invitation">
  <div class="wrapper">
    <h1 class="invitation-title">Приглашаем вас на экскурсию</h1>
    <p class="invitation-text">
      Необходима предварительная запись
      по телефону<br/><br/><b class="invitation-application"><a href="tel:+73432710071">+7 (343) 271-00-71</a></b>
    </p>
    <p class="invitation-text">
      Также вы можете скачать и заполнить анкету,
      которая поможет вам составить<br/>представление о доме,
      котором вы всегда мечтали<b class="invitation-phone"><a href="Anketa_na_dom_Obraztsovo.pdf" target="_blank">Скачать анкету (тех. требования на дом)</a></b>
    </p>
  </div>
</section>
<footer class="footer">
  <div class="wrapper">
    <div class="footer-nav"><a href="/" title="На главную страницу"><img class="logo" src="img/logo_full_footer.svg" alt=""/></a>
      <ul class="nav-list">
        <li class="nav-item"><a class="nav-link" href="index.html#location">О поселке</a></li>
        <li class="nav-item"><a class="nav-link" href="master_plan.html">Генплан</a></li>
        <li class="nav-item"><a class="nav-link" href="main_page_galleries.html">Фотогалерея</a></li>
        <li class="nav-item"><a class="nav-link" href="on_sale.html">В продаже</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Наши партнеры</a></li>
      </ul>
      <div class="social"><a class="icon icon-instagram" href="https://www.instagram.com/obraztsovo/" target="_blank" title="Мы в инстаграме">Мы в инстаграме</a></div>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom-item"><a href="https://www.google.ru/maps/place/%D0%9E%D0%9E%D0%9E+%22%D0%9C%D0%95%D0%A2%D0%95%D0%9E%D0%A0%D0%98%D0%A2+%D0%B8+%D0%9A%D0%BE%22/@56.8175966,60.5726183,17z/data=!4m8!1m2!3m1!2z0J7QntCeICLQnNCV0KLQldCe0KDQmNCiINC4INCa0L4i!3m4!1s0x0:0x6a4421dfba234a33!8m2!3d56.8175969!4d60.5748072" target="_blank">Офис продаж: ул. Ясная, 20-Д</a></div>
      <div class="footer-bottom-item">Тел. отд. продаж:&nbsp;<a href="tel:+73432710071">+7 (343) 271-00-71</a></div>
    </div>
  </div>
</footer>