
<div class="section-gallery owl-carousel">
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery1/01.jpg" rel="1"><img src="img/gallery/gallery1/01_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link section-gallery-video fancybox.iframe" href="https://www.youtube.com/embed/WvG3d97cuw4?autoplay=1&amp;wmode=opaque" rel="1"><img src="img/gallery/video_1.jpg" alt="Жилой коттеджный поселок «Образцово»"/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery1/02.jpg" rel="1"><img src="img/gallery/gallery1/02_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery1/03.jpg" rel="1"><img src="img/gallery/gallery1/03_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery1/04.jpg" rel="1"><img src="img/gallery/gallery1/04_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery1/05.jpg" rel="1"><img src="img/gallery/gallery1/05_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery1/06.jpg" rel="1"><img src="img/gallery/gallery1/06_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery1/07.jpg" rel="1"><img src="img/gallery/gallery1/07_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery1/08.jpg" rel="1"><img src="img/gallery/gallery1/08_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery1/09.jpg" rel="1"><img src="img/gallery/gallery1/09_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link section-gallery-video fancybox.iframe" href="https://www.youtube.com/embed/IaloR5EHiu0?autoplay=1&amp;wmode=opaque" rel="1"><img src="img/gallery/video_3.jpg" alt="Естественная среда обитания в Образцово, приходящая Белка к жителям «Образцово»."/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery1/10.jpg" rel="1"><img src="img/gallery/gallery1/10_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery1/11.jpg" rel="1"><img src="img/gallery/gallery1/11_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery1/12.jpg" rel="1"><img src="img/gallery/gallery1/12_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery1/13.jpg" rel="1"><img src="img/gallery/gallery1/13_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery1/14.jpg" rel="1"><img src="img/gallery/gallery1/14_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery1/15.jpg" rel="1"><img src="img/gallery/gallery1/15_preview.jpg" alt=""/></a>
  </div>
</div>
<div class="section-gallery owl-carousel">
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery2/01.jpg" rel="2"><img src="img/gallery/gallery2/01_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery2/02.jpg" rel="2"><img src="img/gallery/gallery2/02_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link section-gallery-video fancybox.iframe" href="https://www.youtube.com/embed/rbNY7n2R8K8?autoplay=1&amp;wmode=opaque" rel="2"><img src="img/gallery/video_2.jpg" alt="Обзор коттеджного поселка «Образцово», лето 2016. РБК Недвижимость Екатеринбург"/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery2/03.jpg" rel="2"><img src="img/gallery/gallery2/03_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery2/04.jpg" rel="2"><img src="img/gallery/gallery2/04_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery2/05.jpg" rel="2"><img src="img/gallery/gallery2/05_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery2/06.jpg" rel="2"><img src="img/gallery/gallery2/06_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery2/07.jpg" rel="2"><img src="img/gallery/gallery2/07_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery2/08.jpg" rel="2"><img src="img/gallery/gallery2/08_preview.jpg" alt=""/></a>
  </div>
</div>
<div class="section-gallery owl-carousel">
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery3/00.jpg" rel="3"><img src="img/gallery/gallery3/00_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery3/01.jpg" rel="3"><img src="img/gallery/gallery3/01_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery3/02.jpg" rel="3"><img src="img/gallery/gallery3/02_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery3/03.jpg" rel="3"><img src="img/gallery/gallery3/03_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery3/04.jpg" rel="3"><img src="img/gallery/gallery3/04_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery3/05.jpg" rel="3"><img src="img/gallery/gallery3/05_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery3/06.jpg" rel="3"><img src="img/gallery/gallery3/06_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery3/07.jpg" rel="3"><img src="img/gallery/gallery3/07_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery3/08.jpg" rel="3"><img src="img/gallery/gallery3/08_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery3/09.jpg" rel="3"><img src="img/gallery/gallery3/09_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery3/10.jpg" rel="3"><img src="img/gallery/gallery3/10_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery3/11.jpg" rel="3"><img src="img/gallery/gallery3/11_preview.jpg" alt=""/></a>
  </div>
</div>
<div class="section-gallery owl-carousel">
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery4/01.jpg" rel="4"><img src="img/gallery/gallery4/01_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery4/02.jpg" rel="4"><img src="img/gallery/gallery4/02_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link section-gallery-video fancybox.iframe" href="https://www.youtube.com/embed/t2M0uwU7LNg?autoplay=1&amp;wmode=opaque" rel="4"><img src="img/gallery/video_4.jpg" alt="Презентация СК «Метеорит»"/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery4/09.jpg" rel="4"><img src="img/gallery/gallery4/09_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery4/10.jpg" rel="4"><img src="img/gallery/gallery4/10_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery4/03.jpg" rel="4"><img src="img/gallery/gallery4/03_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery4/04.jpg" rel="4"><img src="img/gallery/gallery4/04_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery4/05.jpg" rel="4"><img src="img/gallery/gallery4/05_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery4/06.jpg" rel="4"><img src="img/gallery/gallery4/06_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery4/07.jpg" rel="4"><img src="img/gallery/gallery4/07_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery4/08.jpg" rel="4"><img src="img/gallery/gallery4/08_preview.jpg" alt=""/></a>
  </div>
</div>
<div class="section-gallery owl-carousel">
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery5/02.jpg" rel="5"><img src="img/gallery/gallery5/02_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery5/09.jpg" rel="5"><img src="img/gallery/gallery5/09_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery5/03.jpg" rel="5"><img src="img/gallery/gallery5/03_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery5/04.jpg" rel="5"><img src="img/gallery/gallery5/04_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery5/05.jpg" rel="5"><img src="img/gallery/gallery5/05_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery5/06.jpg" rel="5"><img src="img/gallery/gallery5/06_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery5/07.jpg" rel="5"><img src="img/gallery/gallery5/07_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery5/08.jpg" rel="5"><img src="img/gallery/gallery5/08_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery5/01.jpg" rel="5"><img src="img/gallery/gallery5/01_preview.jpg" alt=""/></a>
  </div>
</div>
<div class="section-gallery owl-carousel">
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery6/01.jpg" rel="6"><img src="img/gallery/gallery6/01_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery6/02.jpg" rel="6"><img src="img/gallery/gallery6/02_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery6/03.jpg" rel="6"><img src="img/gallery/gallery6/03_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery6/04.jpg" rel="6"><img src="img/gallery/gallery6/04_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery6/05.jpg" rel="6"><img src="img/gallery/gallery6/05_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery6/06.jpg" rel="6"><img src="img/gallery/gallery6/06_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery6/07.jpg" rel="6"><img src="img/gallery/gallery6/07_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery6/08.jpg" rel="6"><img src="img/gallery/gallery6/08_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery6/09.jpg" rel="6"><img src="img/gallery/gallery6/09_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery6/10.jpg" rel="6"><img src="img/gallery/gallery6/10_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery6/11.jpg" rel="6"><img src="img/gallery/gallery6/11_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery6/12.jpg" rel="6"><img src="img/gallery/gallery6/12_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery6/13.jpg" rel="6"><img src="img/gallery/gallery6/13_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery6/14.jpg" rel="6"><img src="img/gallery/gallery6/14_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery6/15.jpg" rel="6"><img src="img/gallery/gallery6/15_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery6/16.jpg" rel="6"><img src="img/gallery/gallery6/16_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery6/17.jpg" rel="6"><img src="img/gallery/gallery6/17_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery6/18.jpg" rel="6"><img src="img/gallery/gallery6/18_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery6/19.jpg" rel="6"><img src="img/gallery/gallery6/19_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery6/20.jpg" rel="6"><img src="img/gallery/gallery6/20_preview.jpg" alt=""/></a>
  </div>
</div>
<div class="section-gallery owl-carousel">
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery7/00.jpg" rel="7"><img src="img/gallery/gallery7/00_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery7/01.jpg" rel="7"><img src="img/gallery/gallery7/01_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery7/02.jpg" rel="7"><img src="img/gallery/gallery7/02_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery7/03.jpg" rel="7"><img src="img/gallery/gallery7/03_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery7/04.jpg" rel="7"><img src="img/gallery/gallery7/04_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery7/05.jpg" rel="7"><img src="img/gallery/gallery7/05_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery7/06.jpg" rel="7"><img src="img/gallery/gallery7/06_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery7/07.jpg" rel="7"><img src="img/gallery/gallery7/07_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery7/08.jpg" rel="7"><img src="img/gallery/gallery7/08_preview.jpg" alt=""/></a>
  </div>
</div>
<div class="section-gallery owl-carousel">
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery8/01.jpg" rel="8"><img src="img/gallery/gallery8/01_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery8/02.jpg" rel="8"><img src="img/gallery/gallery8/02_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery8/03.jpg" rel="8"><img src="img/gallery/gallery8/03_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery8/04.jpg" rel="8"><img src="img/gallery/gallery8/04_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery8/05.jpg" rel="8"><img src="img/gallery/gallery8/05_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery8/06.jpg" rel="8"><img src="img/gallery/gallery8/06_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery8/07.jpg" rel="8"><img src="img/gallery/gallery8/07_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery8/08.jpg" rel="8"><img src="img/gallery/gallery8/08_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery8/09.jpg" rel="8"><img src="img/gallery/gallery8/09_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery8/10.jpg" rel="8"><img src="img/gallery/gallery8/10_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery8/11.jpg" rel="8"><img src="img/gallery/gallery8/11_preview.jpg" alt=""/></a>
  </div>
  <div class="section-gallery-item"><a class="section-gallery-link" href="img/gallery/gallery8/12.jpg" rel="8"><img src="img/gallery/gallery8/12_preview.jpg" alt=""/></a>
  </div>
</div>